<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

        <div>
        Welcome to home page</div>
        <form action="/post" method="post" enctype="multipart/form-data">
          <label>Enter Coontaines</label>
          <input type="text" required="required" name="program">
          <br> <br>
          
          <label>Photo:</label>
           <input type="file"  required="required" name="photo" accept="image/*">
         <br> <br>
         <input type="submit" value="create post">
        </form>
</body>
</html>